$green-link: #42b983;

// 背景
$red: #e54d42;
$orange: #f37b1d;
$yellow: #fbbd08;
$olive: #8dc63f;
$green: #39b54a;
$cyan: #1cbbb4;
$blue: #0081ff;
$purple: #6739b6;
$mauve: #9c26b0;
$pink: #e03997;
$brown: #a5673f;
$grey: #8799a3;
$gray: #aaa;
$black: #333;
$white: #fff;
$gradualRed: linear-gradient(45deg, #f43f3b, #ec008c);
$gradualOrange: linear-gradient(45deg, #ff9700, #ed1c24);
$gradualGreen: linear-gradient(45deg, #39b54a, #8dc63f);
$gradualPurple: linear-gradient(45deg, #9000ff, #5e00ff);
$gradualPink: linear-gradient(45deg, #ec008c, #6739b6);
$gradualBlue: linear-gradient(45deg, #0081ff, #1cbbb4);

$colors: () !default;
$colors: map-merge(
  (
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "olive":      $olive,
    "green":      $green,
    "cyan":       $cyan,
    "blue":       $blue,
    "purple":     $purple,
    "mauve":      $mauve,
    "pink":       $pink,
    "brown":      $brown,
    "grey":       $grey,
    "gray":       $gray,
    "black":      $black,
    "white":      $white,
  ),
  $colors
);

@each $name,$color in $colors {
  .bg-#{$name} {
    background: $color;
    @if $color ==  $white{
      color: #666;
    } @else {
      color: #fff;
    }
  }
}

@each $name,$color in $colors {
  .line-#{$name}::after,
  .lines-#{$name}::after {
    border-color: $color;
  }
}

.bg-red.light {
  color: $red;
  background-color: #fadbd9;
}

.bg-orange.light {
  color: $orange;
  background-color: #fde6d2;
}

.bg-yellow.light {
  color: $yellow;
  background-color: #fef2ce;
}

.bg-olive.light {
  color: $olive;
  background-color: #e8f4d9;
}

.bg-green.light {
  color: $green;
  background-color: #d7f0db;
}

.bg-cyan.light {
  color: $cyan;
  background-color: #d2f1f0;
}

.bg-blue.light {
  color: $blue;
  background-color: #cce6ff;
}

.bg-purple.light {
  color: $purple;
  background-color: #e1d7f0;
}

.bg-mauve.light {
  color: $mauve;
  background-color: #ebd4ef;
}

.bg-pink.light {
  color: $pink;
  background-color: #f9d7ea;
}

.bg-brown.light {
  color: $brown;
  background-color: #ede1d9;
}

.bg-grey.light {
  color: $grey;
  background-color: #e7ebed;
}

.bg-gray.light {
  color: #666;
  background-color: #fadbd9;
}

.bg-gray.light {
  color: #888;
  background-color: #f1f1f1;
}

/* ==================
          文本
 ==================== */

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
}