@charset "UTF-8";

$columns: 10 !default;

.row {
  display: flex;
  flex-wrap: wrap;
  padding: .3rem;
}

@mixin make-col($size, $columns) {
  flex: 0 0 percentage($size / $columns);
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: percentage($size / $columns);
}

@mixin make-grid-columns($columns:$columns) {

  @for $i from 1 through $columns {
    .col-#{$i} {
      @include make-col($i, $columns)
    }
  }
}

@if true {
  @include make-grid-columns()
}